
	/*****************************************************************/
	/* Base																			  */
	/*****************************************************************/
	
	/* link, menu link color */
	div.footer input.footerNewsletterText,
	a:link,a:visited,a:active,
	ul.sf-menu li.sfHover a
	{
		color:#968680;
	}
	a:hover
	{
		color:#555555;
	}	
		
	/* menu, header and footer background */
	ul.sf-menu li.current,
	ul.sf-menu li:hover,
	div.header input.searchText,
	div.header input.searchButton,
	div.footer
	{
		background-color:#39302C;		
	}
	
	/* menu and search field bootom line */
	ul.sf-menu li.current,
	ul.sf-menu li:hover,
	div.header input.searchText,
	div.header input.searchButton
	{
		border-bottom:solid 1px #82706A;
	}
	
	/* background color for hover submenu */
	ul.sf-menu li ul li:hover,
	ul.sf-menu li ul li.sfHover
	{
		background-color:#F0EDEB !important;	
	}
	
	/* border bottom line for submenu */
	ul.sf-menu li ul li,
	ul.sf-menu li ul li:hover
	{
		border-bottom:solid 1px #F0EDEB;	
	}
	
	/*****************************************************************/
	/* Buttons																		  */
	/*****************************************************************/
	
	/* button background */
 	input.button,	
	a.button:link,a.button:visited,a.button:active
	{
		background-image:url('../../../images/_skins/dorado/button.png');
	}
	
	/* newsletter button */
	div.footer input.footerNewsletterButton
	{
		background-image:url('../../../images/_skins/dorado/newsletter_submit.png');
	}
	
	/* search button */
	div.header input.searchButton
	{
		background-image:url('../../../images/_skins/dorado/search_submit.png');
	}
	
	/*****************************************************************/
	/* Footer																		  */
	/*****************************************************************/
	
	/* text color */
	div.footer
	{
		color:#968680;
	}
	
	/* footer background  */
	div.footer div.footerMain
	{	
 		background-image:url('../../../images/_skins/dorado/footer_background.png');	
	}
	
	/* footer headers  */
	div.footer h1.footerHeader
	{
		color:#f0EDEB;
	}
	
	/* footer top line  */
	div.footer div.footerTopBar
	{
		border-color:#443934;
	}

	/* footer newsletter input field  */
	div.footer input.footerNewsletterText,
	div.footer input.footerNewsletterButton
	{
		background-color:#2F2724;
		border-top:solid 1px #28211F;
		border-bottom:solid 1px #443934;	
	}
	
	/*****************************************************************/
	/* Footer																		  */
	/*****************************************************************/
	
	/* list bullet */
	li
	{
		background-image:url('../../../images/_skins/dorado/bullet.png');
	}
