
	/*****************************************************************/
	/* Base																			  */
	/*****************************************************************/
	
	/* link, menu link color */
	div.footer input.footerNewsletterText,
	a:link,a:visited,a:active,
	ul.sf-menu li.sfHover a
	{
		color:#6796A3;
	}
	a:hover
	{
		color:#555555;
	}	
		
	/* menu, header and footer background */
	ul.sf-menu li.current,
	ul.sf-menu li:hover,
	div.header input.searchText,
	div.header input.searchButton,
	div.footer
	{
		background-color:#1E3942;		
	}
	
	/* menu and search field bootom line */
	ul.sf-menu li.current,
	ul.sf-menu li:hover,
	div.header input.searchText,
	div.header input.searchButton
	{
		border-bottom:solid 1px #5291A1;
	}
	
	/* background color for hover submenu */
	ul.sf-menu li ul li:hover,
	ul.sf-menu li ul li.sfHover
	{
		background-color:#E7EEF1 !important;	
	}
	
	/* border bottom line for submenu */
	ul.sf-menu li ul li,
	ul.sf-menu li ul li:hover
	{
		border-bottom:solid 1px #E7EEF1;	
	}
	
	/*****************************************************************/
	/* Buttons																		  */
	/*****************************************************************/
	
	/* button background */
 	input.button,	
	a.button:link,a.button:visited,a.button:active
	{
		background-image:url('../../../images/_skins/default/button.png');
	}
	
	/* newsletter button */
	div.footer input.footerNewsletterButton
	{
		background-image:url('../../../images/_skins/default/newsletter_submit.png');
	}
	
	/* search button */
	div.header input.searchButton
	{
		background-image:url('../../../images/_skins/default/search_submit.png');
	}
		
	/*****************************************************************/
	/* Footer																		  */
	/*****************************************************************/
	
	/* text color */
	div.footer
	{
		color:#6796A3;
	}
	
	/* footer background  */
	div.footer div.footerMain
	{	
 		background-image:url('../../../images/_skins/default/footer_background.png');	
	}
	
	/* footer headers  */
	div.footer h1.footerHeader
	{
		color:#A3C1C8;
	}
	
	/* footer top line  */
	div.footer div.footerTopBar
	{
		border-color:#294A55;
	}

	/* footer newsletter input field  */
	div.footer input.footerNewsletterText,
	div.footer input.footerNewsletterButton
	{
		background-color:#192F36;
		border-top:solid 1px #162930;
		border-bottom:solid 1px #24444F;	
	}
	
	/*****************************************************************/
	/* List																			  */
	/*****************************************************************/
	
	/* list bullet */
	li
	{
		background-image:url('../../../images/_skins/default/bullet.png');
	}
